*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#notItemOne option:first-child{
    display:none;
}

#titulo{
    text-align: center;
}

h1{
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size:35px;
}

.form-register{
    width:95%;
    max-width: 600px;
    background: #282A36;
    padding: 20px;
    border-radius: 7px;
    margin:auto;
    margin-top: 5%;
}

.form__label, .form__input{
    display:block;
}

.form__label{
    width:30%;
    color: #FFF;
    font-size:18px;
}

.form__input{
    width:70%;
    padding: 10px;
    font-size: 1em;
    border-radius: 7px;
}

.form__submit{
    width: 100%;
    background: #1b743c;
    padding: 10px;
    border: none;
    color: #FFF;
    font-size:1em;
    cursor: pointer;
    border-radius: 7px;
}

.container--flex{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.c1{
    width:100%;
    text-align: center;
    margin-top:20px;
}

.btn_cancelar{
    cursor:pointer;
    width:100%;
    display: inline-block;
    font-size: 1em;
    background: #FF6400;
    color: #FFF;
    text-decoration: none;
    padding:10px;
    border-radius:7px;
}